body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.about-us-and-statistics,
.partners,
.filters,
.catalog {
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.main-header {
  padding-top: 50px;
  background-color: #eeeeee;
}

.main-navigation {
  line-height: 30px;
  text-transform: uppercase;
  font-weight:500;
  display: flex;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  display: block;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus {
  opacity: 0.8;
}

.main-header-logo[href]:active {
  opacity: 0.3;
}

.site-navigation {
  width: 800px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.site-navigation li {
  padding: 0 23px;
}

.main-navigation a {
  color: #000000;
}

.cart {
  position: relative;
  width: 160px;
  padding-top: 25px;
  text-align: right;
}

.cart::before {
  content:'';
  width: 15px;
  height: 15px;
  position: absolute;
  top: 32px;
  left: 45px;
  background-image: url('../img/cart-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-navigation a[href]:hover,
.main-navigation a[href]:focus {
  color: #fb565a;
}

.main-navigation a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .site-navigation-current {
  position: relative;
}

.site-navigation-current::before {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 76px;
  border-bottom: 2px solid #fb565a;
}

.advantages {
  position: relative;
  background-color: #eeeeee;
}

.slider-item .slider-title {
  display: block;
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url('../img/slide1.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(2) {
  background-image: url('../img/slide2.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url('../img/slide3.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-list {
  list-style: none;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
}

.slider-controls label::after {
  content:'';
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  border-radius: 50%;
}

#btn-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#btn-1:checked ~ .slider-controls .slider-controls-item--1::before,
#btn-2:checked ~ .slider-controls .slider-controls-item--2::before,
#btn-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.advantages a {
  text-transform: uppercase;
  color:#ffffff;
  line-height: 18px;
  text-align: center;
  background-color: #fb565a;
}

.advantages a:hover,
.advantages a:focus {
  background-color: #e74246;
}

.advantages a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.slider-item .slider-item-button {
  padding: 16px 0 14px;
  font-weight: 500;
}

.services {
  margin-bottom: 80px;
  position: relative;
}

.services::after {
  content: '';
  position: absolute;
  border-bottom:2px solid #eeeeee;
  width: 1160px;
  bottom: -80px;
}

.services h3 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size:24px;
  text-transform: uppercase;
  color:#000000;
  line-height: 30px;
  font-weight:700;
  margin-bottom: 15px;
}

.service-web::before {
  content:'';
  position: absolute;
  width: 300px;
  height: 146px;
  background-image: url('../img/illustration-1.jpg');
  background-repeat: no-repeat;
  top: -174px;
}

.service-app::before {
  content:'';
  position: absolute;
  width: 300px;
  height: 146px;
  background-image: url('../img/illustration-2.jpg');
  background-repeat: no-repeat;
  top: -174px;
}

.service-presentation::before {
  content:'';
  position: absolute;
  width: 300px;
  height: 146px;
  background-image: url('../img/illustration-3.jpg');
  background-repeat: no-repeat;
  top: -174px;
}

.services-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

.service-item {
  min-width: 300px;
  padding: 0;
  margin: 0;
  padding-top: 174px;
  margin-right: 100px;
}

.service-item .button {
  padding: 16px 0;
  width: 160px;
}

.services p {
  margin: 0;
  margin-bottom: 32px;
  padding-right: 40px;
}

.button {
  display: block;
  width: 240px;
  padding: 18px 0;
  font: inherit;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
  color:#ffffff;
  line-height: 18px;
  text-align: center;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-green {
  background-color: #00ca74;
}

.button-yellow {
  background-color: #efc84a;
}

.service-item:nth-child(2) a:hover,
.service-item:nth-child(2) a:focus {
  background-color: #00bc6c;
}

.service-item:nth-child(2) a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.service-item:last-child a:hover,
.service-item:last-child a:focus {
  background-color: #eab534;
}

.service-item:last-child a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #eab534;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 50px;
}

.about-us {
  width: 660px;
  margin-top: 35px;
}

.about-us b {
  font-size:45px;
  line-height:45px;
  color: #000000;
  font-weight:500;
  margin: 0;
}

.about-us p {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 40px;
}

.about-us h4 {
  text-transform: uppercase;
  font-weight: 700;
  color:#000000;
  margin-bottom: 22px;
}

.about-us-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us-list li {
  position: relative;
  margin-bottom: 24px;
  padding-left: 37px;
}

.about-us-list li:first-child {
  margin-bottom: 26px;
}

.about-us-list li::before {
  content: '';
  position: absolute;
  border-bottom: 2px solid #fb565a;
  width: 25px;
  top: 10px;
  left: 0;
}

.statistics {
  width: 360px;
  margin: 0;
  padding: 0;
}

.statistics img {
  margin: 0;
  width: 360px;
  height: 208px;
  margin-bottom: 30px;
}

.statistics-list {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 360px;
}

.statistics .statistics-title {
  display: block;
  padding-left: 18px;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-left: 15px;
}

.statistics .statistics-item {
  list-style: none;
  width: 106px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  margin-right: 22px;
}

.statistics-numbers {
  font-size: 45px;
  line-height: 45px;
  font-weight:700;
  color:#000000;
  padding-top: 35px;
}

.statistics-numbers sup {
  vertical-align: baseline;
  top: -15px;
  font-size: 28px;
}

.statistics-item span {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.partners {
  position: relative;
}

.partners::before {
  content: '';
  position: absolute;
  border-bottom:2px solid #eeeeee;
  width: 1160px;
}

.partners::after {
  content: '';
  position: absolute;
  border-bottom: 2px solid #eeeeee;
  width: 1160px;
}

.partners-list {
  width: 1160px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.partners-list a {
  display: block;
  opacity: 0.2;
  position: relative;
  padding: 0;
  margin: 0;
  width: 260px;
  height: 180px;
}

.partners-list a:hover,
.partners-list a:focus {
  opacity: 1;
}

.partners-list a:active {
  opacity: 0.1;
}

.partner-logo {
  padding: 0;
  margin: 0;
}

.partner-logo:not(:first-child) {
  padding-left: 15px;
}

.partner-logo::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  opacity: 1;
  top: 50%;
  margin-top: -26px;
  margin-left: -20px;
}

.partners-list li:first-child::after {
  display: none;
}

.main-footer {
  margin-top: 80px;
}

.inner-page .main-footer {
  margin-top: 60px;
}

.map {
  overflow: hidden;
  position: relative;
  height: 416px;
}

.map-image {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 1440px;
  height: 416px;
}

.map-interactive {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 416px;
}

.contacts {
  width: 220px;
  margin: 0;
  padding: 46px 48px 47px 51px;
  position: relative;
  z-index: 30;
  background-color: #ffffff;
  margin-top: 55px;
}

.contacts b {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts p {
  margin-top: 25px;
  margin-right: 10px;
  line-height:18px;
  color:#666666;
}

.contacts .phone {
  line-height:18px;
  color:#666666;
}

.contacts .button {
  margin-top: 30px;
  width: 220px;
  vertical-align: middle;
}

.social {
  display: flex;
}

.social-buttons {
  margin: 0;
  list-style: none;
  margin: 70px 0;
  padding: 0;
  margin-right: auto;
  width: 260px;
  display: flex;
  min-width: 260px;
  justify-content: space-between;
}

.social-button {
  display: block;
  text-align: center;
  padding: 30px 0;
  width: 80px;
  height: 20px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active path {
  opacity: 0.3;
}

.social-button:active {
  background-color: #d7373b;
}

.friend-us {
  margin: 0;
  padding: 0;
  width: 560px;
  margin-right: 200px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.friend-us b {
  margin: 0;
  padding: 0;
  font-size:36px;
  line-height:36px;
  font-weight:700;
  color: #000000;
}

.friend-us p {
  margin: 5px auto;
  padding-top: 5px;
  color: #444444;
  line-height: 22px;
}

.write-us {
  position: fixed;
  bottom: 50%;
  left: 50%;
  margin-left: -480px;
  margin-bottom: -210px;
  width: 760px;
  padding: 70px 100px 85px;
  background-color: #ffffff;
  z-index: 100;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  display: none;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  right: -2px;
  top: 9px;
  content: '';
  position: absolute;
  width: 26px;
  height: 3px;
  background-color: #fecccd;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}


.write-us h2 {
  display: block;
  margin: 0;
  margin-bottom: 40px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-us-form p {
  width: 360px;
  margin: 0;
}

.write-us-form p:last-of-type {
  width: 760px;
}

.write-us-form label {
  display: block;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
  color: #000000;
}

.write-us-form input {
  width: 360px;
  height: 50px;
  margin-bottom: 35px;
}

.write-us-form textarea {
  box-sizing: border-box;
  height: 118px;
  width: 760px;
  margin-bottom: 35px
}

.write-us-form input,
.write-us-form textarea {
  box-sizing: border-box;
  border: 2px solid #d7dcde;
  background-color: transparent;
  padding-top: 16px;
  padding-left: 14px;
  padding-bottom: 18px;
  color: #444444;
  line-height: 18px;
}

.write-us-form textarea {
  padding-top: 12px;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  border: 2px solid #000000;
}

.write-us-form .button {
  width: 260px;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}

.catalog-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: center;
}

.catalog-title-background {
  background-color: #eeeeee;
  padding-bottom: 107px;
  padding-top: 78px;
  margin-bottom: 55px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 22px;
}

.price-controls {
  font-size: 0;
}

.price-controls input {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  width: 60px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin-left: 10px;
  line-height: 22px;
}

.max-price {
  text-align: right;
}

.filters {
  width: 260px;
  display: flex;
  flex-direction: column;
}

.filter-form legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  margin-bottom: 18px;
}

.filter-form .price-title {
  margin-bottom: 0;
}

.title-grid,
.title-features {
  margin-bottom: 20px;
}

.filter-interval label {
  text-transform: uppercase;
  line-height: 22px;
}

.filter-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-form li {
  padding-left: 36px;
  padding-bottom: 20px;
  vertical-align: middle;
}

.filter-form li:last-child {
  padding-bottom: 0;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  color: #283136;
  line-height: 20px;
}

.filter-option label:hover {
  color: #000000;
}

.filter-checkbox:focus + label::before,
.filter-radio:focus + label::before,
.filter-radio:checked:focus + label::after {
  outline: 1px dashed #000000;
  outline-offset: 2px;
}

.filter-option label:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter-checkbox + label::before {
  content: '';
  position: absolute;
  background: url('../img/checkbox-off.svg');
  width: 23px;
  height: 23px;
  top: -3px;
  left: -36px;
  opacity: 0.3;
}

.filter-checkbox:checked + label::before {
  content: '';
  position: absolute;
  background: url('../img/checkbox-on.svg');
  width: 27px;
  height: 23px;
  top: -3px;
  left: -36px;
  opacity: 0.3;
}

.filter-checkbox + label:hover::before {
  opacity: 1;
}

.filter-checkbox + label:active::before,
.filter-checkbox:checked + label:active::before {
  opacity: 0.1;
}

.filter-radio + label::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  border: 5px solid #b8b8b8;
  border-radius: 50%;
  top: -5px;
  left: -36px;
}

.filter-radio:checked + label::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #b8b8b8;
  top: 4px;
  left: -27px;
  border-radius: 50%;
}

.filter-radio + label:hover::before {
  border: 5px solid #4d4d4d;
}

.filter-radio:checked + label:hover::after {
  background-color: #4d4d4d;
}

.filter-radio + label:active::before,
.filter-radio:checked + label:active::after {
  opacity: 0.1;
}

.filter-field {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
}

.filter-form fieldset:first-child {
  margin-bottom: 53px;
}

.filter-form fieldset:last-of-type {
  margin-bottom: 47px;
}

.grid label,
.features-form label {
  line-height: 20px;
}

.filter-form .button {
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  width: 260px;
  padding: 16px 0 16px;
}

.filter-form .button:hover,
.filter-form .button:focus {
  background-color: #dfdfdf;
}

.filter-form .button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: 0 3px 0 0 #bfbfbf inset;
}

.catalog p {
  margin: 0;
  margin-top: auto;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  width: 160px;
  margin-right: 197px;
}

.catalog ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog .sorting-button {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-wrapper {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin-bottom: 54px;
}

.sorting-list {
  display: flex;
  width: 300px;
  margin-right: 40px;
}

.sorting-list li {
  padding: 0 13px;
}

.order-list {
  display: flex;
  width: 40px;
  justify-content: space-between;
  align-items: center;
}

.order-list .down-button {
  font-size: 0;
  display: block;
  vertical-align: middle;
  border: 5px solid transparent;
  border-top: 10px solid #000000;
  opacity: 0.2;
}

.order-list .up-button {
  font-size: 0;
  display: block;
  vertical-align: middle;
  border: 5px solid transparent;
  border-bottom: 10px solid #000000;
  opacity: 0.2;
}

.catalog .sorting-current {
  color: rgba(0, 0, 0, 1);
}

.order-list .order-current {
  opacity: 1;
}

.sorting-list a[href]:hover,
.sorting-list a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.order-list a[href]:hover,
.order-list a[href]:focus {
  opacity: 0.6;
}

.sorting-list a[href]:active,
.order-list a[href]:active {
  color: #000000;
  opacity: 1;
}

.catalog {
  width: 760px;
  margin: 0;
  padding: 0;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 35px;
  margin-right: 40px;
  border-top: 40px solid rgba(77, 77, 77, 0.12);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0;
}

.catalog-item:hover,
.catalog-item:focus {
  border-top: 40px solid rgba(77, 77, 77, 1);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.25);
}

.catalog-item::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  top: -27px;
  left: 16px;
  border-radius: 50%;
  box-shadow: 23px 0 0 #ffffff, 46px 0 0 #ffffff;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item img {
  display: block;
  width: 360px;
  height: 576px;
}

.catalog .catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 23px;
}

.catalog-hover {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #eeeeee;
  width: 360px;
  min-height: 230px;
  padding: 5px 60px 45px;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
}

.catalog-hover:hover,
.catalog-hover:focus {
  opacity: 1;
}

.catalog-item .item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.catalog-item p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  text-transform: none;
  min-width: 240px;
  margin-bottom: 28px;
  text-align: center;
}

.catalog-item .button {
  padding: 16px 0;
  width: 200px;
  margin: 0 20px;
  margin-bottom: 43px;
}

.catalog-item .button:active {
  color: #ffffff;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.pagination li {
  margin-right: 12px;
}

.pagination li:last-child {
  margin-right: 0;
}

.pagination-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  display: block;
  padding: 17px 16px 15px;
  border-radius: 2px;
  width: 18px;
}

.pagination .next{
  width: 106px;
  display: block;
  padding: 17px 76px 15px;
}

.pagination .button {
  color: #000000;
  background-color: #eeeeee;
}

.pagination .button[href]:hover,
.pagination .button[href]:focus {
  background-color: #dfdfdf;
}

.pagination .button[href]:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: 0 3px 0 0 #bfbfbf inset;
}

.pagination .button-current {
  background-color: #ffffff;
  box-shadow: inset 3px 3px 0 #dbdbdb,
  inset -3px -3px 0 #dbdbdb;
  padding: 17px 16px 15px;
}
